In [1]:
import pandas as pd

In [2]:
file_path = "survey_data_updated.csv"

df = pd.read_csv(file_path)

df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,25.0,10.0,0.0,15.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

In [3]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18845 entries, 0 to 18844
Data columns (total 114 columns):
 #    Column                          Dtype
---   ------                          -----
 0    ResponseId                      int64
 1    MainBranch                      object
 2    Age                             object
 3    Employment                      object
 4    RemoteWork                      object
 5    Check                           object
 6    CodingActivities                object
 7    EdLevel                         object
 8    LearnCode                       object
 9    LearnCodeOnline                 object
 10   TechDoc                         object
 11   YearsCode                       object
 12   YearsCodePro                    object
 13   DevType                         object
 14   OrgSize                         object
 15   PurchaseInfluence               object
 16   BuyNewTool                      object
 17   BuildvsBuy                      object
 18   TechEndorse                     object
 19   Country                         object
 20   Currency                        object
 21   CompTotal                       float64
 22   LanguageHaveWorkedWith          object
 23   LanguageWantToWorkWith          object
 24   LanguageAdmired                 object
 25   DatabaseHaveWorkedWith          object
 26   DatabaseWantToWorkWith          object
 27   DatabaseAdmired                 object
 28   PlatformHaveWorkedWith          object
 29   PlatformWantToWorkWith          object
 30   PlatformAdmired                 object
 31   WebframeHaveWorkedWith          object
 32   WebframeWantToWorkWith          object
 33   WebframeAdmired                 object
 34   EmbeddedHaveWorkedWith          object
 35   EmbeddedWantToWorkWith          object
 36   EmbeddedAdmired                 object
 37   MiscTechHaveWorkedWith          object
 38   MiscTechWantToWorkWith          object
 39   MiscTechAdmired                 object
 40   ToolsTechHaveWorkedWith         object
 41   ToolsTechWantToWorkWith         object
 42   ToolsTechAdmired                object
 43   NEWCollabToolsHaveWorkedWith    object
 44   NEWCollabToolsWantToWorkWith    object
 45   NEWCollabToolsAdmired           object
 46   OpSysPersonal use               object
 47   OpSysProfessional use           object
 48   OfficeStackAsyncHaveWorkedWith  object
 49   OfficeStackAsyncWantToWorkWith  object
 50   OfficeStackAsyncAdmired         object
 51   OfficeStackSyncHaveWorkedWith   object
 52   OfficeStackSyncWantToWorkWith   object
 53   OfficeStackSyncAdmired          object
 54   AISearchDevHaveWorkedWith       object
 55   AISearchDevWantToWorkWith       object
 56   AISearchDevAdmired              object
 57   NEWSOSites                      object
 58   SOVisitFreq                     object
 59   SOAccount                       object
 60   SOPartFreq                      object
 61   SOHow                           object
 62   SOComm                          object
 63   AISelect                        object
 64   AISent                          object
 65   AIBen                           object
 66   AIAcc                           object
 67   AIComplex                       object
 68   AIToolCurrently Using           object
 69   AIToolInterested in Using       object
 70   AIToolNot interested in Using   object
 71   AINextMuch more integrated      object
 72   AINextNo change                 object
 73   AINextMore integrated           object
 74   AINextLess integrated           object
 75   AINextMuch less integrated      object
 76   AIThreat                        object
 77   AIEthics                        object
 78   AIChallenges                    object
 79   TBranch                         object
 80   ICorPM                          object
 81   WorkExp                         float64
 82   Knowledge_1                     object
 83   Knowledge_2                     object
 84   Knowledge_3                     object
 85   Knowledge_4                     object
 86   Knowledge_5                     object
 87   Knowledge_6                     object
 88   Knowledge_7                     object
 89   Knowledge_8                     object
 90   Knowledge_9                     object
 91   Frequency_1                     object
 92   Frequency_2                     object
 93   Frequency_3                     object
 94   TimeSearching                   object
 95   TimeAnswering                   object
 96   Frustration                     object
 97   ProfessionalTech                object
 98   ProfessionalCloud               object
 99   ProfessionalQuestion            object
 100  Industry                        object
 101  JobSatPoints_1                  float64
 102  JobSatPoints_4                  float64
 103  JobSatPoints_5                  float64
 104  JobSatPoints_6                  float64
 105  JobSatPoints_7                  float64
 106  JobSatPoints_8                  float64
 107  JobSatPoints_9                  float64
 108  JobSatPoints_10                 float64
 109  JobSatPoints_11                 float64
 110  SurveyLength                    object
 111  SurveyEase                      object
 112  ConvertedCompYearly             float64
 113  JobSat                          float64
dtypes: float64(13), int64(1), object(100)
memory usage: 16.4+ MB

In [4]:
df1 = df[['ResponseId', 'Age', 'EdLevel', 'Country', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
          'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
          'WebframeHaveWorkedWith', 'WebframeWantToWorkWith']]

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18845 entries, 0 to 18844
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ResponseId              18845 non-null  int64
 1   Age                     18845 non-null  object
 2   EdLevel                 18845 non-null  object
 3   Country                 18845 non-null  object
 4   LanguageHaveWorkedWith  18845 non-null  object
 5   LanguageWantToWorkWith  18845 non-null  object
 6   DatabaseHaveWorkedWith  18845 non-null  object
 7   DatabaseWantToWorkWith  18845 non-null  object
 8   PlatformHaveWorkedWith  18845 non-null  object
 9   PlatformWantToWorkWith  18845 non-null  object
 10  WebframeHaveWorkedWith  18845 non-null  object
 11  WebframeWantToWorkWith  18845 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.7+ MB

In [51]:
df1.head()

,ResponseId,Age,EdLevel,Country,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith
0,2,35-44 years old,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix
1,3,45-54 years old,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",United Kingdom of Great Britain and Northern I...,C#,C#,Firebase Realtime Database,Firebase Realtime Database,Google Cloud,Google Cloud,ASP.NET CORE,ASP.NET CORE
2,10,35-44 years old,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Serbia,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;TypeScript,MongoDB;MySQL;PostgreSQL;Redis,MongoDB;MySQL;PostgreSQL;Redis,Amazon Web Services (AWS);Digital Ocean;Fireba...,Amazon Web Services (AWS);Digital Ocean;Fireba...,Express;Next.js;Node.js;React,Express;Next.js;Node.js;React
3,11,35-44 years old,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",United States of America,JavaScript;Python;Ruby,C#;Crystal;Java;JavaScript;Python;Ruby,Elasticsearch;MongoDB;PostgreSQL;SQLite,Elasticsearch;MongoDB;PostgreSQL;SQLite,Amazon Web Services (AWS);Google Cloud,Google Cloud,Node.js;React;Ruby on Rails,Django;Node.js;React;Ruby on Rails
4,12,45-54 years old,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Poland,C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Power...,C#;HTML/CSS;JavaScript;PowerShell;Rust;SQL;Typ...,Microsoft Access;Microsoft SQL Server;PostgreS...,Microsoft SQL Server;PostgreSQL;SQLite,Cloudflare,Cloudflare,ASP.NET;ASP.NET CORE;Express;jQuery;Node.js;React,ASP.NET;ASP.NET CORE;Express;jQuery;Node.js;React

In [52]:
df1.isna().sum()

ResponseId                0
Age                       0
EdLevel                   0
Country                   0
LanguageHaveWorkedWith    0
LanguageWantToWorkWith    0
DatabaseHaveWorkedWith    0
DatabaseWantToWorkWith    0
PlatformHaveWorkedWith    0
PlatformWantToWorkWith    0
WebframeHaveWorkedWith    0
WebframeWantToWorkWith    0
dtype: int64

In [53]:
# Check country name
import pycountry

def find_invalid_countries(df, column_name):
    invalid_countries = []  # List to store unique invalid countries

    for name in df[column_name]:  # Iterate through the column
        try:
            pycountry.countries.lookup(name)  # Try to find the country
        except LookupError:
            if name not in invalid_countries:  # Ensure uniqueness manually
                invalid_countries.append(name)

    return invalid_countries  # Return unique invalid country names

# Example usage
invalid_list = find_invalid_countries(df, 'Country')
invalid_list # Print unique invalid country names

['Turkey',
 'Venezuela, Bolivarian Republic of...',
 'Palestine',
 'Hong Kong (S.A.R.)',
 'Iran, Islamic Republic of...',
 'Democratic Republic of the Congo',
 'Republic of Korea',
 'Nomadic',
 'Kosovo',
 'Congo, Republic of the...',
 'Cape Verde']

In [55]:
# Dictionary to manually fix invalid country names to alpha_3
# nomadic and kosovo not listed

country_fixes = {
    "Turkey": "TUR",
    "Venezuela, Bolivarian Republic of...": "VEN",
    "Palestine": "PSE",
    "Hong Kong (S.A.R.)": "HKG",
    "Iran, Islamic Republic of...": "IRN",
    "Democratic Republic of the Congo": "COG",
    "Republic of Korea": "KOR",
    "Congo, Republic of the...": "COG",    
    "Cape Verde": "CPV"
}

In [27]:
name = "cabo verde"
pycountry.countries.lookup(name)  # Try to find the country

Country(alpha_2='CV', alpha_3='CPV', flag='ðŸ‡¨ðŸ‡»', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde')

In [56]:
df1.replace({'Country': country_fixes}, inplace=True)

C:\Users\alvia\AppData\Local\Temp\ipykernel_45636\3082089747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace({'Country': country_fixes}, inplace=True)

In [57]:
invalid_list = find_invalid_countries(df1, 'Country')
invalid_list # Print unique invalid country names

['Nomadic', 'Kosovo']

In [ ]:
import numpy as np
import pycountry

# Function to normalize country names to alpha_3
def norm_countries(df, column_name):
    corrected_countries = []  # List to store corrected country codes
    for name in df[column_name]:  
        try:
            country = pycountry.countries.lookup(name)  
            corrected_countries.append(country.alpha_3)  # Use alpha-3 country code
        except LookupError:
            corrected_countries.append(np.nan)  # Assign NaN if not found

    df[column_name] = corrected_countries  # Update the column
    return df

In [59]:
# Example usage
df1 = norm_countries(df1, 'Country')
df1.head()  # Display the updated DataFrame

C:\Users\alvia\AppData\Local\Temp\ipykernel_45636\1367926593.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = corrected_countries  # Update the column

,ResponseId,Age,EdLevel,Country,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith
0,2,35-44 years old,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",GBR,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix
1,3,45-54 years old,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",GBR,C#,C#,Firebase Realtime Database,Firebase Realtime Database,Google Cloud,Google Cloud,ASP.NET CORE,ASP.NET CORE
2,10,35-44 years old,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",SRB,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;TypeScript,MongoDB;MySQL;PostgreSQL;Redis,MongoDB;MySQL;PostgreSQL;Redis,Amazon Web Services (AWS);Digital Ocean;Fireba...,Amazon Web Services (AWS);Digital Ocean;Fireba...,Express;Next.js;Node.js;React,Express;Next.js;Node.js;React
3,11,35-44 years old,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",USA,JavaScript;Python;Ruby,C#;Crystal;Java;JavaScript;Python;Ruby,Elasticsearch;MongoDB;PostgreSQL;SQLite,Elasticsearch;MongoDB;PostgreSQL;SQLite,Amazon Web Services (AWS);Google Cloud,Google Cloud,Node.js;React;Ruby on Rails,Django;Node.js;React;Ruby on Rails
4,12,45-54 years old,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",POL,C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Power...,C#;HTML/CSS;JavaScript;PowerShell;Rust;SQL;Typ...,Microsoft Access;Microsoft SQL Server;PostgreS...,Microsoft SQL Server;PostgreSQL;SQLite,Cloudflare,Cloudflare,ASP.NET;ASP.NET CORE;Express;jQuery;Node.js;React,ASP.NET;ASP.NET CORE;Express;jQuery;Node.js;React

In [84]:
# Function to process each column
def count_unique_tech(df, column_name):
    exploded_df = df1.assign(Technology=df[column_name].str.split(';')).explode('Technology')
    return exploded_df['Technology'].value_counts()

# Apply function to all columns
language_counts = count_unique_tech(df1, 'LanguageHaveWorkedWith')
w_language_counts = count_unique_tech(df1, 'LanguageWantToWorkWith')
database_counts = count_unique_tech(df1, 'DatabaseHaveWorkedWith')
w_database_counts = count_unique_tech(df1, 'DatabaseWantToWorkWith')
platform_counts = count_unique_tech(df1, 'PlatformHaveWorkedWith')
w_platform_counts = count_unique_tech(df1, 'PlatformWantToWorkWith')
webframe_counts = count_unique_tech(df1, 'WebframeHaveWorkedWith')
w_webframe_counts = count_unique_tech(df1, 'WebframeWantToWorkWith')

# Combine into a single DataFrame
summary_df = pd.DataFrame({
    'HaveLanguages': language_counts,
    'WantLanguages': w_language_counts,
    'HaveDatabases': database_counts,
    'WantDatabases': w_database_counts,
    'HavePlatforms': platform_counts,
    'WantPlatforms': w_platform_counts,
    'HaveFrameworks': webframe_counts,
    'WantFrameworks': w_webframe_counts
}).fillna(0)  # Fill missing values with 0

# Print summary
summary_df

,HaveLanguages,WantLanguages,HaveDatabases,WantDatabases,HavePlatforms,WantPlatforms,HaveFrameworks,WantFrameworks
Technology,,,,,,,,
ASP.NET,0.0,0.0,0.0,0.0,0.0,0.0,3094.0,1847.0
ASP.NET CORE,0.0,0.0,0.0,0.0,0.0,0.0,4319.0,4166.0
Ada,107.0,102.0,0.0,0.0,0.0,0.0,0.0,0.0
Alibaba Cloud,0.0,0.0,0.0,0.0,206.0,237.0,0.0,0.0
Amazon Web Services (AWS),0.0,0.0,0.0,0.0,10871.0,10516.0,0.0,0.0
...,...,...,...,...,...,...,...,...
WordPress,0.0,0.0,0.0,0.0,0.0,0.0,2696.0,1345.0
Yii 2,0.0,0.0,0.0,0.0,0.0,0.0,245.0,123.0
Zephyr,39.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0
Zig,187.0,1136.0,0.0,0.0,0.0,0.0,0.0,0.0
jQuery,0.0,0.0,0.0,0.0,0.0,0.0,4810.0,2264.0

In [79]:
df1.to_csv("Demographics.csv", index=False)
print("ok")

ok

In [85]:
summary_df.to_csv("Technology.csv")
print("ok")

ok